# https://learn.microsoft.com/en-us/dotnet/fundamentals/code-analysis/style-rules/csharp-formatting-options

[*]
csharp_new_line_before_open_brace = false
csharp_new_line_before_else = false
dotnet_diagnostic.CS8632.severity = none

dotnet_diagnostic.SYSLIB0014.severity = none
dotnet_diagnostic.IDE0130.severity = none
dotnet_diagnostic.CA1816.severity = none
